# Build and Release Folders
bin-debug/
bin-release/
bin/*.*
dist
bin

# Project property files
.settings/

# OS X folders
.DS_Store

# Windows
Thumbs.db

## File-based project format:
*.iws

## Plugin-specific files:

# IDEA
/out/
/.idea
*.iml
